
#friends-display-link{
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: -15px;
}

#friends-display-link i{
    color: rgba(0, 0, 0, 0.3);  
}

.find__dot{
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    position: absolute;
    background-color: tomato;
    right: 18px;
    top: 48px;
}

.friends-screen{
    padding: 0px var(--horizontal-space);
    height: 100vh;
}

.friends-screen__channel{
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--gray-text);
}

@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
    
}



#splash-screen{
    background-color: var(--yellow);
    position: absolute;
    height: 150vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 1s;
}

#splash-screen img{
    width: 200px;
    height: 200px;
}

.user-songs{
    display: flex;
    border: 2px solid #04df30;
    padding: 5px 10px;
    border-radius: 30px;
    align-items: center;
}

.user-songs i{
    color :#04df30;
    margin-left: 15px;
}

.friends-screen__users{
    display: flex;
    flex-direction: column;
}

@keyframes showFirends {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(-10px);
    }
    
}


.friends-ani{
    animation: showFirends 0.5s ease-in-out forwards;
    animation-delay: 1s;
}
.friends-ani1{
    animation: showFirends 0.5s ease-in-out forwards;
    animation-delay: 1.5s;
}
.friends-ani2{
    animation: showFirends 0.5s ease-in-out forwards;
    animation-delay: 1.9s;
}
.friends-ani3{
    animation: showFirends 0.5s ease-in-out forwards;
    animation-delay: 2.2s;
}
.friends-ani4{
    animation: showFirends 0.5s ease-in-out forwards;
    animation-delay: 2.5s;
}
.friends-ani5{
    animation: showFirends 10.5s ease-in-out forwards;
    animation-delay: 2.8s;
}